@import "src/styles/theme.scss";

.details {
	@apply flex flex-col justify-center items-center;
	min-height: calc(100vh - 353px);
	padding-top: 27px;
	width: 100%;
}

.details__board {
	@apply flex flex-col justify-between items-center;
	width: 1000px;
	height: 980px;
	padding: 48px 128px;
	background-color: $lightGray;
	border-radius: 12px;
}

.button-section {
	@apply flex flex-col;
	padding: 12px 16px;
}

.boatify-button--details,
.boatify-button--rent {
	margin-top: 12px;
	min-width: 200px;
}
