@import "../../styles/theme.scss";

.reset-password {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 280px;
	padding: 10px 10px 24px;
	border-radius: 16px;
	-webkit-box-shadow: 0px 0px 8px -2px rgba(16, 25, 53, 1);
	box-shadow: 0px 0px 8px -2px rgba(16, 25, 53, 1);
}

.reset-password__label {
	margin: 48px 42px 24px;
	font-size: $fontSize14px;
}

.input {
	@include app-input;
}

.reset-password__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.reset-password__button {
	@include app-button;
	margin: 6px 0 24px;
}
