@import "../../styles/theme.scss";

.reset-password {
	@apply flex flex-col items-center;
	width: 280px;
	padding: 10px 10px 24px;
	border-radius: 16px;
	-webkit-box-shadow: 0px 0px 8px -2px rgba(16, 25, 53, 1);
	box-shadow: 0px 0px 8px -2px rgba(16, 25, 53, 1);
}

.reset-password__label {
	margin: 48px 42px 24px;
	font-size: $fontSize14px;
}

.input {
	@include app-input;
	width: 200px;
}

.reset-password__button-section {
	@include form-button-section;
}
