@import '../../styles/theme.scss';

.search {
  display: flex;
  justify-content:  space-between;
  flex-direction: column;
  width: 256px;
  padding: 0px;
}
.search__main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search__input {
  @include app-input;
  width: 168px;
  .input__field {
    margin-bottom: 0px;
  }
}

.search__info{
  padding: 16px 8px 0;
}

strong{
  font-weight: $fontWeightBold;
}