@import "../../styles/theme.scss";

.search {
	width: 256px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0px;
}
.search__input {
	@include app-input;
	width: 168px;
	.input__field {
		margin-bottom: 0px;
	}
}
