@import "../../styles/theme.scss";

.filter {
	padding: 8px;
}
.filter__section {
	@apply flex flex-row justify-between;
	padding: 8px 0;
}
.filter__section--vertical {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.filter__type-option {
	@apply flex justify-center items-center;
	width: 76px;
	height: 76px;
	border: 1px solid $royalBlue;
	border-radius: 8px;
	font-weight: 700;
	font-size: $fontSize18px;
	color: $royalBlue;
}
.filter__type-icon {
	font-size: $fontSize26px;
}
.filter__section-title {
	font-size: $fontSize16px;
	font-weight: $fontWeightBold;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom: 1px solid $royalBlue;
}
.spacer {
	padding-top: 10px;
}
