@import "../../styles/theme.scss";

.filter {
	padding: 8px;
}
.filter__section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 8px 0;
}
.filter__type-option {
	width: 76px;
	height: 76px;
	border: 1px solid $royalBlue;
	border-radius: 8px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 700;
	font-size: $fontSize18px;
	color: $royalBlue;
}
.filter__type-icon {
	font-size: $fontSize26px;
}
