@import "../../styles/theme.scss";

.boat-item {
	@apply flex flex-col justify-between;
	width: 236px;
	height: 320px;
	border: 1px solid $royalBlue;
	border-radius: 8px;
	margin-bottom: 8px;
}
.boat-item__button-section {
	@apply flex flex-col;
	padding: 12px 16px;
}

.boatify-button--boat-item {
	margin-top: 12px;
}
