@import '../../styles/theme.scss';

.boat-item {
  @apply flex flex-col justify-between;
  width: 236px;
  height: 320px;
  border: 1px solid $royalBlue;
  border-radius: 8px;
  margin-bottom: 8px;
}
.boat-item__button-section {
  @apply flex flex-col;
  padding: 0 16px 12px 16px;
}

.boatify-button--boat-item {
  margin-top: 12px;
}
.boat-item__picture{
  display: flex;
  justify-content: center;
  padding: 20px 0 0 0;
}
.boat-item__info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 12px 16px 0 16px;
  height: 100%;
}
.boat-item__info-tag{
  display: block;
  background-color: $middleGray;
  color: $black;
  user-select: none;
  border-radius: 100px;
  padding: 4px 8px;
  font-weight: $fontWeightBold;
  max-width: 120px;
  max-height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}