@import '../../../styles/theme.scss';

.reservation-time {
  @apply flex-col;
}

.reservation-time-indicator {
  @apply flex;
  margin-bottom: 32px;
}

.margin {
  user-select: none;
  content: ' ';
  width: 24px;
}

.button-section {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  width: 520px;
}
