@import "src/styles/theme.scss";

.last-minute {
	@apply flex flex-col justify-center items-center;
	min-height: calc(100vh - 353px);
	width: 100%;
	padding-top: 27px;
}

.last-minute__board {
	padding: 48px 128px;
	@apply flex flex-col justify-center items-center;
	background-color: $lightGray;
	border-radius: 12px;
}

.button-section {
	@apply flex flex-col;
	padding: 12px 16px;
}

.boatify-button--details,
.boatify-button--rent {
	margin-top: 12px;
	min-width: 200px;
}
