.contact {
	margin: 100px 0 200px;
}

.contact__inputs,
.contact__button-section {
	@apply flex justify-center;
}

.contact__button-section {
	margin: 20px 0 0;
}

.contact__inputs-column--first {
	margin-right: 24px;
}

.contact__inputs-column--last {
	width: 424px;
}
