.boatify-scroll-up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0.2rem;
  font-size: 2rem;
  background-color: #ff8600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;

  &:hover {
    background-color: #ff5e00;
  }
}
