@import "../../styles/theme.scss";

.register {
	@apply flex flex-col justify-between items-center;
	width: 280px;
	padding: 10px 10px 24px 10px;
	border-radius: 16px;
	-webkit-box-shadow: 0px 0px 6px -2px rgba(16, 25, 53, 1);
	box-shadow: 0px 0px 6px -2px rgba(16, 25, 53, 1);
	height: 405px;
}

.register__inputs {
	z-index: 1;
	background-color: $white;
}

.profile__picture {
	border-radius: 200px;
	margin: 32px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.register__button-section {
	@include form-button-section;
	:disabled {
		@include form-button-section--hidden;
	}
}
