.header-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	min-height: 100%;
}

.header-navigation__item {
	display: block;
	padding: 10px;
}

.header-navigation__item-link {
	display: block;
	color: black;
	text-decoration: none;
}
