.header-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	min-height: 100%;
}

.header-navigation__item {
	display: block;
	padding: 10px;
	-webkit-animation-name: navigation-out;
	animation-name: navigation-out;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in;
	animation-timing-function: ease-in;
	display: none;
}

.header-navigation__item--show {
	display: block;
	padding: 10px;
	-webkit-transform: translateY(-100px);
	transform: translateY(-100px);
	-webkit-animation-name: navigation-in;
	animation-name: navigation-in;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
}

.header-navigation__item-link {
	display: block;
	color: black;
	text-decoration: none;
}

@-webkit-keyframes navigation-in {
	from {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	to {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

.animation-delay1 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.animation-delay2 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.animation-delay3 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.animation-delay4 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.animation-delay5 {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@keyframes navigation-in {
	from {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
	to {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@-webkit-keyframes navigation-out {
	from {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	to {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
}

@keyframes navigation-out {
	from {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	to {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
	}
}
