// COLORS
$UTOrange: #ff8600;
$oxfordBlue: #101935;
$uranianBlue: #a3d9ff;
$dimGray: #736b60;
$lightYellow: #f7ffdd;
//font sizes
$fontSize12px: 12px;
$fontSize14px: 14px;
$fontSize16px: 16px;
$fontSize22px: 22px;
$fontSize24px: 24px;
$fontSize26px: 26px;
//margins
$marginSize24px: 24px;
$marginSize32px: 32px;
//paddings
$paddingSize24px: 24px;
$paddingSize32px: 32px;
